<div class="juegos">
    <h1>Bienvenido a tu bliboteca de juegos.</h1>
    <div class="juegos-b">
        
    </div>
    <template id="info-game">
        <div class="juego-b">
            <img src="" alt="" />
        </div>
    </template>
</div>
<script src="/assets/src/biblioteca.js"></script>