<link rel="stylesheet" href="/assets/css/game.css" />
<link rel="stylesheet" href="/assets/css/header.css">
<input type="hidden" class="id" data-id="">
<div class="consola">
    <div class="game-img">
        <div class="img">
            <img class="portada" src="" alt="" />
        </div>
        <div class="slider-game">
            <div class="slider">
                <img src="" alt="" />
                <img src="" alt="" />
                <img src="" alt="" />
                <img src="" alt="" />
            </div>
        </div>
    </div>
    <div class="cont-text">
        <div class="contedor">
            <h1 class="game-name"></h1>
            <p class="description-game"></p>
        </div>
        <div class="other">
            <div class="star">
                <p class="material-symbols-outlined calificacion">grade</p>
                <p class="material-symbols-outlined">grade</p>
                <p class="material-symbols-outlined">grade</p>
                <p class="material-symbols-outlined">grade</p>
                <p class="material-symbols-outlined">grade</p>
            </div>
            <div class="buy">
                <div class="precio">
                    <p><b></b></p>
                </div>
                <div class="car">
                    {{!-- <form action="" method="POST">
                    <input type="hidden" name="mensaje" value="Compra satisfactoria">
                    </form> --}}
                    <button type="submit" id="comprar">comprar</button>
                </div>
            </div>
        </div>
    </div>

</div>
<template id="slider">
</template>
<script src="/assets/src/shop.js"></script>